:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    background-color: var(--off-black);
    color: var(--white);
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    background-color: var(--dark-grey);
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 0.75rem;
    text-align: center;
}

.profile-picture {
    height: 5.5rem;
    width: auto;
    border-radius: 50%;
}

h1 {
    font-size: 1.75rem;
}

.location {
    color: var(--green);
    font-weight: 700;
}

.description {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
}

.links-wrapper {
    padding-left: 0;
    list-style-type: none;
}

.link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    margin-bottom: 1rem;
    border-radius: .5rem;
}

.link a {
    color: var(--white);
    text-decoration: none;
}
