:root {
    --dark-grey: hsl(0, 0%, 12%);
    --green: hsl(75, 94%, 57%);
    --grey: hsl(0, 0%, 20%);
    --off-black: hsl(0, 0%, 8%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    align-items: center;
    background-color: var(--off-black);
    color: var(--white);
    display: flex;
    font-family: "Inter", sans-serif;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: var(--dark-grey);
    border-radius: 0.75rem;
    margin: 1.5rem;
    padding: 1.5rem;
    text-align: center;

    @media screen and (min-width: 1024px) {
        padding: 2.5rem;
    }
}

.profile-picture {
    border-radius: 50%;
    height: 5.5rem;
    width: auto;
}

h1 {
    font-size: 1.75rem;
}

.location {
    color: var(--green);
    font-weight: 700;
}

.description {
    font-size: 0.875rem;
    margin-bottom: 1.5rem;
}

.links-wrapper {
    list-style-type: none;
    padding-left: 0;
    
    @media screen and (min-width: 1024px) {
        min-width: 19rem;
    }
}

.link {
    border-radius: .5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.link a {
    background-color: var(--grey);
    color: var(--white);
    display: block;
    font-weight: 700;
    padding-bottom: .75rem;
    padding-top: .75rem;
    text-decoration: none;
    transition: .4s;

    &:hover {
        background-color: var(--green);
        color: var(--off-black);
    }
}
