:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

p {
    font-size: 1rem;
}

body {
    background-color: var(--off-black);
    color: var(--white);
}

main {
    background-color: var(--dark-grey);
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 0.75rem;
    text-align: center;
}

.profile-picture {
    height: 5.5rem;
    width: auto;
    border-radius: 50%;
}
